[package]
name = "hardy-bpa-server"
description = "A BPv7 DTN Bundle processing agent"
version = "0.1.0"
edition.workspace = true

[[bin]]
name = "hardy-bpa-server"
path = "src/main.rs"

[features]
default = ["sqlite-storage", "localdisk-storage", "grpc", "tcpclv4", "otel"]
otel = ["dep:hardy-otel"]
sqlite-storage = ["dep:hardy-sqlite-storage"]
postgres-storage = []
localdisk-storage = ["dep:hardy-localdisk-storage"]
s3-storage = []
packaged-installation = []
grpc = ["dep:hardy-proto", "dep:tokio-stream", "dep:tonic", "dep:prost-types"]
tcpclv4 = ["dep:hardy-tcpclv4"]
file-cla = ["dep:hardy-file-cla"]

[dependencies]
hardy-bpv7 = { path = "../bpv7", features = ["serde"] }
hardy-bpa = { path = "../bpa", features = ["serde"] }
hardy-eid-patterns = { path = "../eid-patterns", features = ["serde"] }
hardy-proto = { path = "../proto", optional = true }
hardy-sqlite-storage = { path = "../sqlite-storage", optional = true }
hardy-localdisk-storage = { path = "../localdisk-storage", features = ["serde"], optional = true }
hardy-tcpclv4 = { path = "../tcpclv4", features = ["serde"], optional = true }
hardy-file-cla = { path = "../file-cla", features = ["serde"], optional = true }
hardy-otel = { path = "../otel", optional = true }
tokio = { version = "1.49.0", features = ["rt-multi-thread", "macros", "signal"] }
tokio-util = "0.7.18"
tokio-stream = { version = "0.1.18", optional = true }
tonic = { version = "0.14.3", optional = true }
prost-types = { version = "0.14.3", optional = true }
config = { version = "0.15.19", features = ["toml"] }
serde = { version = "1.0.228", features = ["derive"] }
getopts = "0.2.24"
directories = "6.0.0"
thiserror = "2.0.18"
tracing = "0.1.44"
tracing-subscriber = { version = "0.3.22", features = ["env-filter"] }
notify-debouncer-full = "0.7.0"
notify = { version = "8.2.0", default-features = false, features = ["macos_kqueue"] }
trace-err = "0.1.5"
winnow = "0.7.14"
anyhow = "1.0.100"
flume = "0.12.0"
time = "0.3.46"

[dev-dependencies]
serde_json = "1.0.149"
