[package]
name = "hardy-bpa"
version = "0.1.0"
edition.workspace = true

[features]
default = ["rfc9173"]
rfc9173 = ["hardy-bpv7/rfc9173"]
serde = ["dep:serde","hardy-bpv7/serde","hardy-eid-patterns/serde"]
bincode = ["dep:bincode","hardy-bpv7/bincode"]
tracing = []

[lib]
path = "src/lib.rs"
crate-type = ["rlib"]

[dependencies]
hardy-bpv7 = { path = "../bpv7", features = ["std"] }
hardy-cbor = { path = "../cbor" }
hardy-eid-patterns = { path = "../eid-patterns" }
time = { version = "0.3.44", features = ["serde-human-readable"] }
async-trait = "0.1.89"
tokio = { version = "1.48.0", features = ["rt", "macros", "time"] }
tokio-util = { version = "0.7.17", features = ["rt"] }
tracing = "0.1.43"
metrics = "0.24.3"
trace-err = "0.1.5"
rand = "0.9.2"
lru = "0.16.2"
thiserror = "2.0.17"
rustversion = "1.0"
flume = "0.11.1"
serde = { version = "1.0.228", features = ["derive","rc"], optional = true }
bincode = { version = "2.0.1", default-features = false, features = ["alloc","derive"], optional = true }

[dev-dependencies]
criterion = "0.7"
hardy-bpa-fuzz = { path = "./fuzz" }
#hardy-bpa-fuzz = { path = "./fuzz", features = ["sqlite-storage","localdisk-storage"] }

[[bench]]
name = "bundle_bench"
harness = false
