[package]
name = "hardy-bpa"
description = "A BPv7 DTN Bundle processing agent"
version = "0.1.0"
edition.workspace = true

[[bin]]
name = "hardy-bpa"
path = "src/main.rs"

# For fuzzing only!
[lib]
path = "src/fuzzing.rs"
test = false
doc = false
bench = false
crate-type = ["rlib"]

[features]
default = ["sqlite-storage", "localdisk-storage"]
sqlite-storage = ["dep:hardy-sqlite-storage"]
localdisk-storage = ["dep:hardy-localdisk-storage"]
mem-storage = []
packaged-installation = []

[dependencies]
hardy-bpa-api = { path = "../bpa-api" }
hardy-bpv7 = { path = "../bpv7" }
hardy-cbor = { path = "../cbor" }
hardy-proto = { path = "../proto" }
hardy-sqlite-storage = { path = "../sqlite-storage", optional = true }
hardy-localdisk-storage = { path = "../localdisk-storage", optional = true }
fuzz-macros = { path = "../fuzz-macros" }
tokio = { version = "1.39.3", features = [
    "macros",
    "rt-multi-thread",
    "signal",
] }
tokio-util = "0.7.11"
tonic = "0.12.3"
config = { version = "0.14.0", features = ["toml"] }
serde = { version = "1.0.210", features = ["derive"] }
getopts = "0.2.21"
directories = "5.0.1"
thiserror = "1.0.63"
time = { version = "0.3.36", features = ["macros", "parsing"] }
rand = "0.8.5"
cfg-if = "1.0.0"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
tracing-log = "0.2.0"
tokio-stream = "0.1.15"
prost-types = "0.13"
notify-debouncer-full = "0.3.1"
notify = { version = "6.1.1", default-features = false, features = [
    "macos_kqueue",
] }
trace-err = "0.1.0"
sha2 = "0.10.8"

[build-dependencies]
built = "0.7.4"
