#####################################################
#
# Example configuration file for hardy-bpa
#
# This file contains all configuration options, with description and default value
#
#####################################################

# Logging level
#log_level = "info"

# The administrative endpoint - You *MUST* change this
administrative_endpoint = CHANGE ME!
# There must only be one per EID scheme, formatting options are:
#administrative_endpoint = "ipn:[A.]N.0"
#administrative_endpoint = "dtn://node-name/"
#administrative_endpoint = [ "ipn:[A.]N.0", "dtn://node-name/"]

# Which storage engine should we use
# This is dependant on the package configuration
#metadata_storage = "sqlite"
#bundle_storage = "localdisk"

# Should we generate Status Reports?
#status_reports = false

# Should we forward bundles, i.e. act as a router?
#forwarding = true

# Maximum time to retry forwarding, to allow for service synchronization, in seconds. 0 disables retrying
#max_forwarding_delay = 5

# Interval between checking for waiting bundles, in seconds > 0.
#wait_sample_interval = 60

# The local address:port to listen for gRPC requests
#grpc_address="[::1]:50051"

# SQLite metadata storage engine specific options
#[sqlite]
# Location of the metadata database
#db_dir="<fully qualified directory path>"

# Local disk bundle storage engine specific options
#[localdisk]
# Root directory of the stored files
#store_dir="<fully qualified directory path>"

# Static routes options
#[static_routes]
# Filepath of static routes file
#routes_file = "./static_routes"
# The Protocol Id of all routes added by the Static routes module
#protocol_id = "static_routes"

# Monitor the 'routes_file' for changes and hot reload
#watch = true

# Destinations that require ipn 2-element encoding
[ipn_2_element]
# Examples:
#ipn:1.[7-10].*
#ipn:*.[1-100].3
