[package]
name = "hardy-bpa-fuzz"
version = "0.0.0"
publish = false
edition.workspace = true

[package.metadata]
cargo-fuzz = true

[features]
default = []
sqlite-storage = ["dep:hardy-sqlite-storage"]
localdisk-storage = ["dep:hardy-localdisk-storage"]
file-cla = ["dep:hardy-file-cla"]
tracing = ["hardy-bpa/tracing","hardy-sqlite-storage?/tracing","hardy-localdisk-storage?/tracing","hardy-file-cla?/tracing"]

[dependencies]
libfuzzer-sys = "0.4"
hardy-otel = { path = "../../otel" }
hardy-bpv7 = { path = "../../bpv7" }
hardy-cbor = { path = "../../cbor" }
hardy-bpa = { path = ".." }
hardy-sqlite-storage = { path = "../../sqlite-storage", optional = true }
hardy-localdisk-storage = { path = "../../localdisk-storage", optional = true }
hardy-file-cla = { path = "../../file-cla", optional = true }
tokio = { version = "1.49.0", features = ["rt-multi-thread", "time"] }
time = { version = "0.3.44", features = ["parsing"] }
tracing = "0.1.44"
arbitrary = { version = "1.4.2", features = ["derive"] }
flume = "0.12.0"
urlencoding = "2.1.3"

[lib]
path = "src/lib.rs"
test = true
doc = false

[[bin]]
name = "bpa"
path = "fuzz_targets/bpa.rs"
test = false
bench = false
doc = false
