# Logging level
#log_level = "info"

# The administrative endpoint - You *MUST* change this
# There  may be one per EID scheme, formatting options are:
#administrative_endpoint = "ipn:[A.]N.0"
#administrative_endpoint = "dtn://node-name/"
#administrative_endpoint = { "ipn" = N, "dtn" = "node-name" }
#administrative_endpoint = { "ipn" = "[A.]N", "dtn" = "node-name" }
#administrative_endpoint = [ "ipn:[A.]N.0", "dtn://node-name/"]

# Which storage engine should we use
# This is dependant on the package configuration
#metadata_storage = "sqlite"
#bundle_storage = "localdisk"

# Should we generate Status Reports?
#status_reports = false

# Should we forward bundles, i.e. act as a router?
#forwarding = true

# Should we allow dtn:none source EIDs
#allow_null_sources = false

# The local address:port to listen for gRPC requests
#grpc_address="[::1]:50051"

# sqlite metadata storage engine specific options
[sqlite]
# Location of the metadata database
#db_dir="<fully qualified directory path>"

# localdisk bundle storage engine specific options
[localdisk]
# Root directory of the stored files
#store_dir="<fully qualified directory path>"
