# Logging level
#log_level = "info"

# You *really* need to change this
node_id = "ipn:1.0"

# Which storage engine should we use
# This is dependant on the package configuration
#metadata_storage = "sqlite"
#bundle_storage = "localdisk"

# Should we generate Status Reports?
#status_reports = false

# The local address:port to listen for gRPC requests
#grpc_address="[::1]:50051"

# sqlite metadata storage engine specific options
[sqlite]
# Location of the metadata database
#db_dir="<fully qualified directory path"

# localdisk bundle storage engine specific options
[localdisk]
# Root directory of the stored files
#store_dir="<fully qualified directory path>"
