[package]
name = "hardy-sqlite-storage"
version = "0.1.0"
edition.workspace = true

[lib]
path = "src/lib.rs"
crate-type = ["rlib"]

[features]
default = []
serde = ["dep:serde","hardy-bpa/serde","hardy-bpv7/serde"]
tracing = ["hardy-bpa/tracing"]

[dependencies]
hardy-bpa = { path = "../bpa", features = ["bincode"] }
hardy-bpv7 = { path = "../bpv7", features = ["std", "bincode"] }
hardy-cbor = { path = "../cbor" }
rusqlite = { version = "0.37.0", features = ["bundled", "time"] }
tokio = "1.48.0"
thiserror = "2.0.17"
bincode = "2.0.1"
directories = "6.0.0"
tracing = "0.1.44"
base64 = "0.22.1"
time = "0.3.44"
trace-err = "0.1.5"
flume = "0.11.1"
serde = { version = "1.0.228", features = ["derive"], optional = true }

[build-dependencies]
regex = "1.12.2"
sha1 = "0.10.6"
base64 = "0.22.1"
