[package]
name = "hardy-bpv7"
version = "0.1.0"
edition.workspace = true

[lib]
path = "src/lib.rs"
crate-type = ["rlib"]

[[bin]]
name = "mkbundle"
path = "tools/mkbundle.rs"

[dependencies]
hardy-cbor = { path = "../cbor" }
thiserror = "1.0.63"
time = { version = "0.3.36", features = ["macros"] }
base64 = "0.22.1"
regex = "1.11.0"
urlencoding = "2.1.3"
crc = "3.2.1"
clap = { version = "4.5.9", features = ["derive","cargo"] }
humantime = "2.1.0"
hmac = "0.12.1"
sha2 = "0.10.8"
aes-gcm = "0.10.3"
zeroize = { version = "1.8.1", features = ["derive"] }

[dev-dependencies]
hex-literal = "0.4.1"
