#####################################################
#
# Example configuration file for hardy-tcpcl
#
# This file contains all configuration options, with description and default value
#
#####################################################

# Logging level
#log_level = "info"

# The optional node identifier - You *MUST* change this
#node_id = "CHANGE ME!"

# The identifier of this instance
#instance_id = "TCPCLv4"

# The internal address:port to listen for gRPC requests
#internal_grpc_address="[::1]:50051"

# The external address:port to announce for gRPC requests
#external_grpc_address=<internal_grpc_address>

# The address:port of the hardy-bpa-server - You *MUST* change this
bpa_address="https://example.com:50051"

# The TCP address:port to listen for TCP connections
#tcp_address="[::1]:4556"

# Seconds to wait for the initial contact header
#contact_timeout = 15

# Keepalive interval in seconds, 0 to disable
#keepalive_interval = 60

# Largest allowable single-segment data payload size to be received
#segment_mru = 16384

# Largest allowable total-bundle data size to be received
#transfer_mru = 1073741824
