# The local IP address and port for the CLA to listen on for incoming connections.
#address = "[::]:4556"

# The Maximum Receive Unit (MRU) for a single TCP segment payload, in bytes.
# This defines the largest single block of data that can be received in one go.
#segment_mru = 16384

# The MRU for a total bundle transfer, in bytes. This is the largest
# bundle that can be received over this CLA.
#transfer_mru = 562949953421312 # (2^49)

# The maximum number of idle incoming connections to keep open per remote IP address.
#max_idle_connections = 6

# --- Default Session Parameters for TCPCLv4 ---
# These settings apply to all sessions unless overridden by a specific peer configuration.

# The time in seconds to wait for a CONTACT header from a connecting peer.
#contact_timeout = 15

# The interval in seconds for sending keepalive signals on an idle connection.
# A value of 0 disables keepalives.
#keepalive_interval = 60

# TLS configuration (optional, TLS disabled if not set)
[tls]
# Whether to enforce TLS for encrypting the connection.
# must_use_tls = true

# server_cert = "/etc/hardy/certs/server.crt"
# server_key = "/etc/hardy/private/server.key"
# ca_bundle = "/etc/hardy/ca"
# server_name = "dtn.example.com"

# Debug options for TLS (testing only, INSECURE)
[tls.debug]
# accept_self_signed = false
