[package]
name = "hardy-tools"
version = "0.1.0"
edition.workspace = true

[lib]
path = "lib/lib.rs"
crate-type = ["rlib"]

[[bin]]
name = "bp"
path = "src/bp.rs"

[features]
tracing = ["hardy-bpa/tracing","hardy-tcpclv4/tracing"]

[dependencies]
anyhow = "1.0.100"
hardy-bpa = { path = "../bpa" }
hardy-bpv7 = { path = "../bpv7", features = ["std"] }
hardy-tcpclv4 = { path = "../tcpclv4" }
clap = { version = "4.5.54", features = ["derive"] }
humantime = "2.3.0"
tokio = { version = "1.49.0", features = ["rt-multi-thread", "time", "signal"] }
tokio-util = "0.7.18"
time = { version = "0.3.45", features = ["parsing"] }
rand = "0.9.2"
tracing = "0.1.44"
tracing-subscriber = "0.3.22"
trace-err = "0.1.5"

# --- Linux-specific dependencies ---
[target.'cfg(target_os = "linux")'.dependencies]
caps = "0.5.6"

# --- Windows-specific dependencies ---
[target.'cfg(target_os = "windows")'.dependencies]
check_elevation = "0.2.7"

# --- Other Unix (e.g., macOS, BSD) dependencies ---
[target.'cfg(all(unix, not(target_os = "linux")))'.dependencies]
libc = "0.2.180"
